* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 20px;
}

form {
  background: yellowgreen;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
main article:first-child {
  background-color: red;
  grid-column: 1 / -1;
} */

h2 {
  margin: 0;
}

article {
  position: relative;
}

.preloader {
  width: 100px;
  height: 100px;
  background: hotpink;
  border-radius: 50%;
  position: absolute;
  animation: scaleanim 2s infinite;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  z-index: 1000;
}

.hide {
  display: none;
}

@keyframes scaleanim {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

@media only screen and (min-width: 700px) {
  form {
    flex-direction: row;
    justify-content: space-between;
  }
}
