* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  overflow-y: scroll; /* force y scroll bar */
}

img,
.video {
  max-width: 100%;
  height: auto;
}

.video {
  aspect-ratio: 16 / 9;
  /* https://dev.to/deammer/embed-responsive-youtube-videos-in-2021-5dkh */
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
}

h1 {
  grid-column: 1 / -1;
}

nav ul {
  background: yellowgreen;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* 
main article:first-child {
  background-color: red;
  grid-column: 1 / -1;
} */

h2,
h4 {
  margin: 0;
}

/* article {
  position: relative;
} */

.preloader {
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.preloader::after {
  content: "loading...";
  width: 300px;
  height: 300px;
  background: hotpink;
  border-radius: 50%;
  animation: scaleanim 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.hide {
  display: none;
}

@keyframes scaleanim {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}

@media only screen and (min-width: 700px) {
  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
